{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>얼굴 인식 앱 프로젝트</title> 
    <style>
        nav {background-color:black; font-size:500%; text-align: center}
        nav a {color:white}
        h1 {text-align: center;}
        p {text-align: center;}
    </style>
</head>
<body>
    <nav>
        <a>얼굴 인식 앱 프로젝트</a>

    </nav>
    <h1>이름 - {{face.name}}</h1>

    <p style="text-align:center;"><img src="{{face.image.url}}" alt="사진을 읽을 수 없습니다." width="250" height="250"></p>
    <br />
    <p>
        <a href="{% url 'facerecognition:home' %}">뒤로</a>
    </p>
</body>
</html>