<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>얼굴 인식 앱 프로젝트</title> 
    <style>
        nav {background-color:black; font-size:500%; text-align: center}
        nav a {color:white}
        form {text-align: center;}
        footer {text-align: center;background-color:grey; width: 100%;position:absolute;bottom:0; left:0;}
        footer a {color:white}

    </style>
</head> 
<body> 
    <nav>
        <a>얼굴 인식 앱 프로젝트</a>

    </nav>
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">업로드</button> 
    </form> 
 
    <footer class="footer">
        <a>얼굴 인식 앱 프로젝트</a>
        <br/>
        <a>멘토: 최영선</a>
        <br />
        <a>멘티: 김호진,임상빈,장지훈,김원석,이재홍</a>
        
    </footer>
    
</body> 
</html> 